<a href="https://colab.research.google.com/github/olive-green/data-science/blob/main/python-concepts/dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries are:
1. Ordered(After python 3.7)
2. Not indexed
3. Mutable
4. No Duplicates

In [1]:
dict1={
    "A":1,
    "C":"pankaj",
    "B":[1,2,3]
}

In [2]:
dict1

{'A': 1, 'B': [1, 2, 3], 'C': 'pankaj'}

Since they are ordered it is a,b,c

In [3]:
dict1["A"]=2

In [4]:
dict1

{'A': 2, 'B': [1, 2, 3], 'C': 'pankaj'}

They are mutable

In [5]:
dict1={
    "A":1,
    "C":"pankaj",
    "B":[1,2,3],
    "A":3
}

In [6]:
dict1

{'A': 3, 'B': [1, 2, 3], 'C': 'pankaj'}

since no duplicates keys are allowed hence A : 3 replace 1

#Print keys and values

In [9]:
dict1.keys()

dict_keys(['A', 'C', 'B'])

In [15]:
dict1.values()

dict_values([3, 'pankaj', [1, 2, 3]])

Iterating over element

In [18]:
for key,value in dict1.items():
  print(key, value)

A 3
C pankaj
B [1, 2, 3]

In [19]:
for i,j in zip(dict1.keys(),dict1.values()):
  print(i,j)

A 3
C pankaj
B [1, 2, 3]

#Make a dicitionary which has a number 1 to 5 as keys and its squares  as values.

In [23]:
n=[1,2,3,4,5]
squares= list(map(lambda n: n*n,n))

In [24]:
squares

[1, 4, 9, 16, 25]

In [26]:
#convert list into dict
dict2={n[i]:squares[i] for i in range(0,len(n))}
dict2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#Dictionary Comprehension

In [30]:
dict2={n:n*n for n in range(1,6)}
dict2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#Given a dictionary , find the sum of all items in the dictionary

In [29]:
#let take above dictionary
sum=0
for i,j in dict2.items():
  sum=sum+j
sum

55

In [32]:
sum2=sum(dict2.values())

TypeError: ignored

Somewhere else in your code you have something that looks like this:

round = 42
Then when you write

round((a/b)*0.9*c)
that is interpreted as meaning a function call on the object bound to round, which is an int. And that fails.

The problem is whatever code binds an int to the name round. Find that and remove it.

In [33]:
#sum is builtin function

#Dictionary returns a shallow copy that is it  Shallow copy means a new dictionary object will be created and reference to the objects in existing dictionary will be inserted in this.

In [34]:
dict3=dict2

In [35]:
dict3

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [36]:
dict3[1]=3

In [37]:
dict2[1]

3

#Exception Handling
1. First try will run
2. if try become false then except will run
3. if except become false or try becomes true else will run
4. finally always runs

In [43]:
try:
  a=5
  b=6
  print("try")
except:
  print("except")

try

In [40]:
try:
  a=5
  b=6
  a/0
  print("try")
except:
  print("except")
else:
  print("else")

except

In [41]:
try:
  a=5
  b=6
  print("try")
except:
  print("except")
else:
  print("else")

try
else