<a href="https://colab.research.google.com/github/olive-green/data-science/blob/main/python-concepts/lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Anonymous Function(Lambda function)
We uses lambda function to reduce syntax
###syntax:
lambda arguments : return statement

In [ ]:
def square(n):
  return n*n

f= lambda n : n*n
print(square(5))
print(f(5))

25
25

In [ ]:
# Both the functions are same

#Map, Filter, Reduce

#Filter
Filter - it filter out the values from the sequence like list based on the some function
#####It takes two parameter function and sequence returns the iterator that will contain all the desired elements

In [ ]:
nums=[3,2,6,7,8,4,2,9,11,10]
# now we want all even numbers
evens=list(filter(lambda n: n%2==0, nums))
print(evens)

[2, 6, 8, 4, 2, 10]

In [ ]:
# we uses lamda function inplace of regular function

#Map 
It is used to perform some similar operations on each element

In [ ]:
# let say we want to square the values of evens
squares=list(map(lambda n: n*n, evens))
print(squares)

[4, 36, 64, 16, 4, 100]

#Reduce
It is used to return a single value based on the function
####It takes two elements at a time 
####let say we want to add all numbers then we can use it

In [ ]:
# it should import from functools library
from functools import reduce
sum= reduce(lambda a,b: a+b , squares)
print(sum)

224

#List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
###Syntax:
newlist = [expression for item in iterable if condition == True]

###Condition
The condition is like a filter that only accepts the items that valuate to True.

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[x for x in fruits if x!="apple"]
list2=[x for x in fruits]
print(newlist)
print(list2)

['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']

###Iterable
Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [8]:
# You can use the range() function to create an iterable:
list=[x for x in range(10)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

###Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [10]:
# You can set the outcome to whatever you like:
l=["hello" for x in range(10)]
print(l)

['hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello']

###The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [15]:
# "Return the item if it is not banana, if it is banana return orange".
list=[x if x!="banana" else "orange" for x in fruits]
print(list)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [17]:
list=[x if x=="banana" else "orange" for x in fruits]  #here if x is banana then return it else make all others orange
print(list)

['orange', 'banana', 'orange', 'orange', 'orange']