<a href="https://colab.research.google.com/github/olive-green/data-science/blob/main/pandas/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
A=pd.Series([1,2,3,4,5])

In [ ]:
A

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(A)

pandas.core.series.Series

In [ ]:
type(A.values)

numpy.ndarray

In [ ]:
A.values

array([1, 2, 3, 4, 5])

In [ ]:
A=pd.Series([10,20,30,"40"],index=["a","b","c","d"])

In [ ]:
A.values.dtype

dtype('O')

In [ ]:
# from dictionary

In [ ]:
height_dict={"A":10,"B":20,"C":30}

In [ ]:
height=pd.Series(height_dict)

In [ ]:
height

A    10
B    20
C    30
dtype: int64

In [ ]:
weight_dict={"A":100,"B":200,"C":300}
weight=pd.Series(weight_dict)

In [ ]:
df=pd.DataFrame({"Height":height,"Weight":weight})

In [ ]:
df

   Height  Weight
A      10     100
B      20     200
C      30     300

In [ ]:
print(df.index)

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
df.loc["A":"C"]

   Height  Weight
A      10     100
B      20     200
C      30     300

In [ ]:
df.iloc[0:2] #it is default indexing and last index is not included

   Height  Weight
A      10     100
B      20     200

In [ ]:
df[[True,False,False]]

   Height  Weight
A      10     100

In [ ]:
df[df['Height']>15]

   Height  Weight
B      20     200
C      30     300

In [ ]:
# add new column to a datafram
df["Test"]=df["Height"]+10
df

   Height  Weight  Test
A      10     100    20
B      20     200    30
C      30     300    40

In [ ]:
# delete a column in df
del df["Height"]

In [ ]:
df

   Weight  Test
A     100    20
B     200    30
C     300    40

In [ ]:
# second method 
df.drop(columns)